        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('https://wallpapercave.com/wp/wp9212011.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        #recommendation-container {
            border: 1px solid #050303;
            padding: 20px;
            border-radius: 8px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            margin: 0 auto;
        }

        #recommendation-container h2 {
            margin-top: 0;
        }

        #recommendation-data {
            margin-top: 10px;
        }

        #city-input {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #070404;
            border-radius: 4px;
        }

        #recommend-button {
            width: 100%;
            padding: 10px;
            background-color: #05040a;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .crop-image {
            width: 100%; /* Fill the container width */
            height: 200px; /* Fixed height for the image */
            object-fit: cover; /* Ensure the image covers the area */
            border-radius: 8px; /* Rounded corners */
            margin-top: 10px; /* Space above the image */
        }
    